
<h1>Image Uploaded Successfully</h1>
<img src="uploads/<%= employe.img %>"> 
<!-- employe.img is not working as employe variable is created in authcontroller in the signup and login post section.
    As of now, the image is being only uploaded in the uploads folder.
    This is also not getting saved in the database.
    In this section just create a webpage which would take the image and the registration id generated at the profile section.
    Navigation bar would be same as that of the signup or login section, just add the partials.
 -->
