/* body{
  background-color: #ceb19c;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
  width:100%;
}
@media screen and ( max-width: 350px )
{
  body{
    background-color: #ceb19c;
  width: 100%;
  }
  div.first h1{
  width: 100%;
  font-size: 50px;
  }


  .background-img{
    margin-left: -8px;
    width: 100%;
    height: 500px;
    margin-top: -20px;
    position: relative;
  }
  div.text{
    position: relative;
    color: white;
    width: 100%;
    padding-left: 0px;
    font-size: 10px;
    margin-left: -690px;
  }
  div.text .text2{
    position: relative;
    color: white;
    width: 100%;
    padding-left: 0px;
    font-size: 40px;
    margin-left: -690px;
  }
  button{
    margin-top: -600px;
    position: absolute;
    display: none;
  }

   button:hover{
     opacity: 80%;
   }

   div .Navbar1{
     margin-left: -680px;
     text-decoration: none;
     line: none;
     color: #2d2017;
     margin-top: 50px;
   }
  div .Navbar a{
     font-size: 20px;
   }
   div#Menu.Menu1 {
     text-align: center;
     margin-top: 100px;
   }
   div.Food{
     margin-left: 35px;
   }

 div .footer1{
    z-index:15;
    width:100%;
    background-color: black;

  }
  div.Info{
  left: -330px;
    position: absolute;
    font-size: 10px;
  }
  .footer1 img{

  }
  div .Time{
   position: absolute;
   padding-bottom: 0px;
   font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .first h1{
    width :100%;
    margin-left: 5px;
    font-size: 10px;
  }
  .container{
    display: grid;
  }

  .background-img{
    margin-left: -8px;
    width: 100%;
    height: 500px;
    margin-top: -20px;
    position: relative;
  }
  .text{
    position: relative;
    color: white;
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    margin-left: -270px;
  }
  .text .text2{
    margin-top: 250px;
    font-size: 20px;
    text-align: right;
   padding-left:100px;

  }

   .image2 button{
     color: brown;
     font-size: 20px;
     height:50px;
     width:100px;
     position: absolute;
     margin-left:-1000px;
     margin-top: 350px;
     border-radius: 30%;
     background-color: #FFFDD0;
     box-shadow: 2px 2px #8a795d;
   }
   button:hover{
     opacity: 80%;
   }

   .Navbar1{
     margin-left: -714px;
     text-decoration: none;
     line: none;
     color: #2d2017;
     margin-top: 50px;
     margin-right: 50px;

   }
   .Navbar a{
     font-size: 2px;
   }
  .footer .About{
    background-color: #ceb19c;
    border: none;

    padding-bottom: 0px;
  }
  .footer .
  {
    z-index:15;

    margin-left: -100px;
    background-color: black;

  }
  .Info{
    margin-right: 0px;
    padding-left: 200px;
    position: absolute;
  }
  .Time{
   position: absolute;
   padding-bottom: 0px;
  }

}
@media only screen and (max-width: 600px) {

.first h1{
  width :100%;
  margin-left: 5px;
  font-size: 10px;
}
.container{
  display: grid;
}

.background-img{
  margin-left: -8px;
  width: 600px;
  height: 500px;
  margin-top: -20px;
  position: relative;
}
.text{
  position: relative;
  color: white;
  width: 100%;
  padding-left: 0px;
  font-size: 20px;
  margin-left: -450px;
}
.text .text2{
  margin-top: 250px;
  font-size: 20px;
  text-align: right;
 padding-left:100px;

}

 .image2 button{
   color: brown;
   font-size: 20px;
   height:50px;
   width:100px;
   position: absolute;
   margin-left:-1000px;
   margin-top: 350px;
   border-radius: 30%;
   background-color: #FFFDD0;
   box-shadow: 2px 2px #8a795d;
 }
 button:hover{
   opacity: 80%;
 }

 .Navbar1{
   margin-left: -714px;
   text-decoration: none;
   line: none;
   color: #2d2017;
   margin-top: 50px;
   margin-right: 50px;

 }
 .Navbar a{
   font-size: 2px;
 }
.footer .About{
  background-color: #ceb19c;
  border: none;

}
.footer .container{
  z-index:15;
  display: grid;
  margin-left: -100px;
  background-color: black;

}
.Info{
  margin-right: 0px;
  padding-left: 200px;
  position: absolute;
}
.Time{
 position: absolute;
 padding-bottom: 0px;
}

}
.first h1{
  font-size: 60px;
  font-family: Curlz MT;
  margin-top: 6px;
}
.background-img{
  margin-left: -8px;
  position:absolute;
  margin-top: -20px;
  width:100%;
}
.image2{
  position: relative;
}
.image2 h1{
  margin-top: 100px;
  position: absolute;
  margin-left: 776px;
  color: white;
  font-size: 60px;
}
.image2 h2{
  position: absolute;
  margin-left: 780px;
  margin-top: 170px;
  font-size: 40px;
  font-family: curlz MT;
  color: #FFFDD0;
}
.image2 button{
  color: brown;
  font-size: 20px;
  height:50px;
  width:100px;
  position: absolute;
  margin-left:850px;
  margin-top: 340px;
  border-radius: 30%;
  background-color: #FFFDD0;
  box-shadow: 2px 2px #8a795d;
}
button:hover{
  opacity: 80%;
}
.container{
  display: flex;
}
.Navbar{
  margin-left: 400px;
}
.Navbar a{
  padding-left: 20px;
  text-decoration: none;
  font: normal normal 300 28px/95px Roboto;
  line: none;
  color: #2d2017;
}
.Menu h1{
  padding-top: 700px;
  padding-left: 600px;
  font-family:  Papyrus;
  font-size: 55px;
}
.Menu{
  margin:30px;
  background-color: #EFE7BC;
  border: dotted;
  box-shadow: 4px 4px 4px white;
}
.menu-img{
  margin-left: 180px;
  width: 400px;
  height:700px;
  border: inset;
  box-shadow: 5px 5px 8px grey;
}
.menu-img2{
  margin-left: 130px;
  width: 400px;
  height:700px;
  border: inset;
  box-shadow: 5px 5px 8px grey;
}
.menu-text
{
  color: white;
  position:absolute;
  padding-top: 200px;
  padding-left: 300px;
  font-size: 25px;
  font-family: Curlz MT;
}
.menu-text1{
  color: white;
  position:absolute;
  padding-top: 200px;
  padding-left: 850px;
  font-size: 25px;
  font-family: Curlz MT;
}
.Menu1{
  font-family: Papyrus;
  margin-top: 710px;
  font-size: 40px;
  color: #2d2017;
  text-align: center;
}
.Food{
  margin-left: 100px;

}
.Gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color: #2d2017;

}
.Gallery:hover {
  border: 1px solid #777;
}
.Gallery img {
  width: 100%;
  height: 250px;

}
.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: Curlz MT;
}
.desc a img{
  height: 30px;
   width: 30px;
   margin-top: -4px;
   border-radius: 50%;
}
.container .footer1{
  display: flex;
}
.About{
  background-color: black;
  font-size: 15px;
  border: inset;
  color: white;
  margin-top: 1600px;
}
.About .Time{
    margin-left: 100px;
}
.About .Time h1{
  border: solid;
}
.About .Info h1{
    border: solid;
}
.About img{
  margin-left: 300px;

}
.About .Info{
  margin-left: 300px;
}
.header_image{
  height: 50px;
  width: 50px;
}
/* .container img {
  width: 1200px;
} */
/** signup css file**/
/* .container1{
  display: grid;
}
.signup
{
  font-family: Curlz-MT;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  display: flex;
  height: 610px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  border:  inset;
}
.signup-text{
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  font-family: Curlz MT;
}
.signup-text img{
  margin-top: 10px;
}
.container
{
  display:flex;
}
.signup button{
  height: 30px;
  width: 55px;
  background-color: #ae7d5b;
  color: white;
  margin-top: 20px;

}
button a{
  line:none;
}
button:hover{
  opacity: 0.8;
}
 span a{
  color: brown;
  line: none;
  font-size: 20px;
}
input{
  box-shadow: 4px 4px 4px #ae7d5b;
}
.image3{
  margin-left: 850px;
  margin-top: -460px;
  box-shadow: 4px 2px 4px white;
} */
/* .wrap{
  max-width: 500px;
  border-radius: 20px;
  margin:auto;
  background:rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding:40px;
  color: #fff;
  margin-top: 100px;
}
.signup_head{
  text-align: center;
}
input[type=text],input[type=password],input[type=number]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0,0,0,0.10);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  margin: 5px;
  font-weight: bold;
}
.signup_btn{
  display: block;
  color: #bf55ec;
  text-align: center;
  background-color:#ffffff;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 200px;
  border-color:#bf55ec ;
  size: 2px;
  text-transform: uppercase;
  font-size: 20px;
} */ 
body{
  font-size: 20px;
  overflow-x: hidden;
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  
}

header{
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("images/bgimg.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear:both;
}
.first{
  max-width: 1180px;
  font-family: Georgia;
}
.logo{
  height: 90px;
  width: auto;
  float: left;
  padding-top: 5px;
  padding-left: 20px;
}
.logo_head{
  position: absolute;
  padding-top:90px;
  padding-left: 10px;
  color: #ffffff;
}

.Navbar{
  float: right;
  margin-top: 30px;
  font-family: Georgia;
}
.Navbar h1{
  font-size: 15px;
  font-family: Georgia;
}
.Navbar li{
  display:  inline-block;
  list-style: none;
  margin-left: 30px;
}
.Navbar li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  font-weight: 100;

}
.Navbar li a:hover{
  border-bottom: 2px solid #bf55ec;

}
.Home{
  width: 1180px;
  position: absolute;
  top: 40%;
  left:60%;
  font-family: Georgia;
}
.changecolor{
  animation: colorchangecafeteria 1s infinite;
}
@keyframes colorchangecafeteria{
  0%{color:red;}
  25%{color:#ffc764;}
  50%{color: white;}
  100%{color: #ff577f;}
}
.changecolor1{
  animation: colorchangecafeteria1 1s infinite;
}
@keyframes colorchangecafeteria1{
  0%{color:red;}
  25%{color:#ffc764;}
  50%{color: white;}
  100%{color: #ff577f;}
}
h1{
  color:#fff;
  font-size: 240%;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}
.btn{
 display: inline-block;
 padding: 10px 30px;
 font-weight: lighter;
 text-decoration:none ;
 text-transform: uppercase;
 border-radius: 200px;
 transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full{
  background-color: transparent;
  color: #bf55ec;
  border: 1px solid #bf55ec;
}
.btn-full:hover{
  background-color: #ffffff;
}

/* Menu */
.Menu{
  width:90%;
  margin:50px auto;
  background-color: #fff5c0;
  color: black;
  font-family: Curlz MT;
}
.food{
  text-align:center;
  font-size:30px;
  margin-bottom: 50px;
  font-family: Curlz MT;
}
.menu_head{
  color:#532e1c;
  text-align: center;
  font-family: Curlz MT;
}
.Gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  background-color: #fff5c0;
}
.column{
  width:18%;
  background: #fff;
  border:1px solid #ccc;
  margin-bottom: 10px;
  transition: 0.3s;
  border-radius: 3%;
}
.column img{
  height:150px;
  width: 100%;
  border-radius: 3%;
  align-items: center;
}
.menu_content{
  padding: 10px 7px;
  text-align: center;
  font-size: 18px;
  font-family: Curlz MT;
}
.menu_btn{
  display: inline-block;
  color: #fff;
  text-align: center;
  background-color: #411f1f;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:4px;
  size: 10px;
  font-size: 16px;
}
.meal_btn{
  display: inline-block;
  color: #fff;
  text-align: center;
  background-color:#d57149;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 20px;
  border-radius:4px;
  size: 10px;
  font-size: 16px;

}
.column:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}

/* Footer section */

footer{
 bottom: 0px;
 background:linear-gradient(to right,#f57b51, #411f1f);
 width:100%;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
   padding-left: 80px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  padding-left: 10px ;
  padding-right: 200px ;
}
.box .content{
  margin: 20px 0 0 0;
}
.left .content p{
  text-align: justify;
  color:#000000;
}
.center img{
  height: 90%;
  width: 90%;
  margin-top: 10px;
}
.right .content p {
  color: #000000;
}

.main-content .boxs{
  flex-basis: 50%;
  padding-left: 300px;
  padding-top: 10px;
}
.boxs h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  font-style: bold;
  padding-right: 150px;

}
.left{
  padding-top:10px;
}

/* Signup and Login */
.wrap{
  max-width: 500px;
  border-radius: 20px;
  margin:auto;
  background-color:  #ffebcd ;
  box-sizing: border-box;
  padding:40px;
  color: #000000;
  margin-top: 50px;
}
h2{
  text-align: center;
}
.signup_head{
  text-align: center;
  color: #000000;
}
input[type=text],input[type=password],input[type=number]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: #fff;
  outline: none;
  border-color: #dfe0df;
  border-bottom: 2px dotted #000000;
  color: #000000;
  margin: 5px;
  font-weight: bold;
  border-style: solid;
}
input[type=number]:hover{
  border-color: #bf55ec;
}
input[type=text]:hover{
  border-color: #bf55ec;
}
  input[type=password]:hover{
    border-color: #bf55ec;
  }
.signup_btn{
  background-color: #d99ef3; /* Green */
  border: none;
  border-radius: 8px;
  border-color:#bf55ec;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  margin-left: 3px;
}
.signup_btn:hover{
  background-color: #bf55ec ;
}


/*Profile */

.profile{
  display: inline-block;
  background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  width: 440px;
  height: 380px;
  max-width: 100%;
  text-align: center;
  /* padding: 20px 20px 20px; */
  margin-left: 410px;
  margin-right: 410px;
  margin-top:15px ;
}
.wrapper{
  margin-top: 30px;
}
.profile span{
  font-size: 25px;
  font-style: bold;
}
.Menu_btn{
  display: block;
  color: #000;
  text-align: center;
  background-color:#ceb19c;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 2px;
  border-radius: 2px;
}
.profile_success{
  color: #000000;
  text-align: center;
  font-size: 40px;
}
.profile img{
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}
.profile .name{
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 7px;
}
.profile .organisation{
  color: #000000;
  font-size: 20px;
}
.profile .Email{
    color: #000000;
    font-size: 20px;
}
.profile .Employe_id{
    color: #000000;
    font-size: 20px;
}
.profile .Registration_id{
    color: #000000;
    font-size: 20px;
}
.profile .Mobile_no{
  color: #000000;
    font-size: 20px;
}
.profile a{
  font-size: 15px;
  color: blue;
  font: outline;
}
/* .profile h2{
    text-align: center;
    margin-top: 30px;
    padding-top:30px;
} */
/* header */
.logo_header{
  position: absolute;
  padding-top:40px;
  padding-left: 100px;
  color: #ffffff;
  font-size: 40px;
}
.first1{
  background:linear-gradient(to right,#cdac81, #6f4e37 );
}
.Navbar1{
  float: right;
  margin-top: 53px;
}
.Navbar1 h1{
  font-size: 15px;
}
.Navbar1 li{
  display:  inline-block;
  list-style: none;
  margin-left: 30px;
}
.Navbar1 li a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  font-weight: 100;

}
.Navbar1 li a:hover{
  border-bottom: 2px solid #bf55ec;

}

/*  Add to cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
